.Body__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Main__container {
  height: auto;
  width: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 10vh;
}

.Heading__container {
  width: 70em;
  height: 5em;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.Quotes__container {
  height: 20em;
  width: 70em;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Btn__container {
  height: 5em;
  width: 70em;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

.Quotes__text {
  font-size: 1.4em;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.CTA__btn {
  height: 4em;
  width: 14em;
  font-size: 14px;
  border-style: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

@media(max-width:1118px) {
  .Heading__container {
    width: 100%;
    height: auto;
  }

  .Quotes__container {
    width: 100%;
    height: 30%;
  }

  .Main__container {
    width: 100%;

  }

  .Btn__container {
    width: 100%;
  }
}